* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius Swash Caps', cursive;
}

body {
    color: #FFF;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#bf722a, #740e0e);
}

.card .img {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url('./assets/cartão-natal-2023.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.container .card .brasao {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 10px;
    width: 50px;
    opacity: .5;
}

.container .card:hover .brasao {
    opacity: 1;
}

.container .card .brasao img {
    width: 50px;
    padding: 3px;
}

.card .img span {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    text-align: center;
    background-color: #33333362;
    border-radius: 25px;
    padding: 10px;
}

.container .card:hover .img span {
    color:#4e3116;
    background-color: #ffffff62;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 320px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
    text-align: justify;
}

.card .content .nome-cargo {
    padding-top: 50px;
    text-align: center;
}

.card .arrow {
    padding: 10px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

.content audio {
    width: 100%;
    max-width: 200px;
    padding: 15px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 14px;
    color: #bf722a;
}

footer span {
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
}

footer strong {
    color: #ff0000;
}

footer a {
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    color: #ff7e06;
}

footer a ion-icon[name="logo-instagram"] {
    display: inline-block;
    vertical-align: -10%;
}

footer a:hover {
    font-weight: 600;
    background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}